body
{
	background-color: #FCFBF1;
	font-family: Arial; 
}
h1
{
	text-align: center; 
	font-size: 12pt; 
	font-family: Arial;
	border: 1px;
	border-color: none;
	border-radius: 3px; 
	padding: 3px; 
	letter-spacing: 1px; 
	width: auto;
	background-color: #FCFBF1;
}
h2
{
	text-align: center;
	font-size: 18px;
	font-family: Arial;
	font-weight: bold; 
	margin-left: 50px;
	margin-top: 50px;
}
h3
{
	text-align: center-left;
	font-size: 12pt;
	color: #3FA239;
	margin: 0;
}
h4
{
	text-align: justify;
	font-size: 14px;
	font-family: Arial;
	font-weight: 200; 
	margin: 30px;
}
.kopfzeile_button
{
	font-family: Arial;
	float: left;
	color: #800000;
	width: auto;
	max-width: 21%;
	min-width: 15%;
	float: left;
	margin:auto;
	position: auto;
	padding-left: 20px;
}
.flexbox
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	margin: 10px;
	font-size: 14px;
	font-family: Arial;
}
.container
{	
	display: flex;
	align-content: space-between;
	justify-content: left;
	align-items: left;
	margin: 100px;
}
.container-1
{
	background-color: #C8E9BF;
}
.containervz
{
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: flex-start;
	align-items: left;
	margin: 100px;
}
.containervz-1
{
	background-color: #E9F3D4;
}
.containerformel
{
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: flex-start;
	align-items: left;
	margin: 100px;
}
.containerformel-1
{
	background-color: #E9F3D4;
}
.headline 
{
	font-family: Arial;
	background-color: #C8E9BF;
	height: 100px;
	width: 100%;
	top: 10px;
}
.dropdown
{
	position: relative;
	display: inline-block;
}
.dropdown-content
{
	display: none;
	position: absolute;
	background-color: #800000;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}
.dropbtn 
{
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content a 
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

fieldset
{
	border: 2px solid black;
	border-radius: 3px;
	padding: 15px;
}
legend
{
	border: 2px solid black;
	border-radius: 8px;
	padding: 5px;
}
a:hover
{
	color: #659557;	
}
a
{
	color: #192B14;
	text-decoration: none;
}
#cutoff
{
	margin:auto; 
	max-width: 75%;
}
#variablo_kopfzeile
{
	float: left;
	color: #800000;
	width: auto;
	max-width: 21%;
	min-width: 15%;
	float: left;
	margin: auto;
	position: auto;
	padding-left: 20px;
}	
#searchString
{
	font-family: Arial;
	color: black;
	float: left;
	width: auto;
	max-width: 50%;
	min-width: 15%;
	float: left;
	margin:auto;
	position: auto;
	padding-left: 20px;
	margin-top: 5%;
}
#suchlink
{
	font-family: Arial;
	float: left;
	width: auto;
	max-width: 21%;
	min-width: 15%;
	margin:auto;
	position: auto;
	padding-left: 20px;
	margin-top: 5%;
}
