body
{
	background-color: #FCFBF1;
	font-family: Arial; 
}

h1
{
	text-align: center; 
	font-size: 12pt; 
	font-family: Arial;
	border: 1px;
	border-color: none;
	border-radius: 3px; 
	padding: 3px; 
	letter-spacing: 1px; 
	width: auto;
	background-color: #FCFBF1;
}
h2
{
	text-align: center;
	font-size: 18px;
	font-family: Arial;
	font-weight: bold; 
	margin-left: 50px;
}
h3
{
	color: #3FA239;
	margin: 0;
}

h4
{
	text-align: justify;
	font-size: 14px;
	font-family: Arial;
	font-weight: 200; 
	margin: 30px;
}

.kopfzeile_button
{
	font-family: Arial;
	float: left;
	color: #800000;
	width: auto;
	max-width: 21%;
	min-width: 15%;
	float: left;
	margin:auto;
	position: auto;
	padding-left: 20px;
}
.flexbox
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	margin: 10px;
	font-size: 14px;
	font-family: Arial;
}
.container-1
{
	background-color: #E9F3D4;
}
.container
{	
	display: flex;
	align-content: space-between;
	justify-content: center;
	align-items: center;
	margin: 100px;
}
.headline 
{
	font-family: Arial;
	background-color: #C8E9BF;
	height: 100px;
	width: 100%;
	top: 10px;
}

fieldset
{
	border: 2px solid black;
	border-radius: 3px;
	padding: 15px;
}

legend
{
	border: 2px solid black;
	border-radius: 8px;
	padding: 5px;
}

a:hover
{
	color: #659557;	
}

a
{
	color: #192B14;
	text-decoration: none;
}

#cutoff
{
	margin:auto; 
	max-width: 75%;
}
	
#variablo_kopfzeile
{
	float: left;
	color: #800000;
	width: auto;
	max-width: 21%;
	min-width: 15%;
	float: left;
	margin:auto;
	position: auto;
	padding-left: 20px;
}	

#searchString
{
	font-family: Arial;
	float: left;
	color: #800000;
	width: auto;
	max-width: 50%;
	min-width: 15%;
	float: left;
	margin:auto;
	position: auto;
	padding-left: 20px;
	margin-top: 5%;
}

#suchlink
{
	font-family: Arial;
	float: left;
	/*color: #800000;*/
	width: auto;
	max-width: 21%;
	min-width: 15%;
	float: left;
	margin:auto;
	position: auto;
	padding-left: 20px;
	margin-top: 5%;
}